{% extends "strung/base.html" %}

{% block title %}Music Feed{% endblock %}

{% block content %}
  <h1>Music Feed</h1>
  <p>Welcome to your feed.You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
  <h1>{{ object.title }}</h1>
  <li>{{ object.author.username }}</li> 
  <li>{{ object.description }}</li> 
  <li>{{ object.location }}</li> 
  <li>{{ object.date_of_event }}</li> 
  <li>{{ object.location }}</li> 
  
{% endblock content %}