{% extends "strung/base.html" %}

{% block title %}Music Feed{% endblock %}

{% block content %}
  <h1>Music Feed</h1>
  <p>Welcome to your feed.You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
</p>
{% if hangout_list %}
  <ul>
    {% for hangout in hangout_list %}
      <li>
        <h2>
            <a href="{% url 'hangout_detail' hangout.id %}">{{ hangout.title }}</a>
        </h2>
        <b>{{ hangout.author.username }}</b>
        ({{ hangout.description}})
        <br>
        {{ hangout.location }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no hangouts.</p>
{% endif %}     
  
{% endblock content %}
